<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= displayCategory %></title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1><%= displayCategory %></h1>
  <% menuItems.forEach((item) => { %>
    <h3><%= item.name %></h3>
    <li>Price: $<%= item.price %></li>
    <li>Rating: <%= item.rating %></li>
    <p>Details: <%= item.details %></p>
  <% }) %>
</body>
</html>

