<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= restaurant.name %></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1><%= restaurant.name %></h1>
    <h2>Located at: <%= restaurant.address %></h2>
    <h3>Phone: <%= restaurant.phone %></h3>
    <h3>
        <% if (restaurant.isOpen === true) { %>
            Yes, we are Open!
        <% } else { %>
            Sorry, we are Closed.
        <% } %>
    </h3>
</body>
</html>
